---
layout: default
title: Posts Written by Claudia Sikorski
---
<script type="text/javascript"
src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<div class="row-fliud">
    <div class="span8">
        {% include JB/setup %}

        {% assign posts_collate = site.posts %}
        {% include JB/posts_collate %}
    </div>
    <div class="span4">
        <div>
            <h2> Welcome!</h2>
            <p> Welcome to <a href="http://claudiasikorski.github.io">Claudia Sikorski's</a> blog! Here you will find a mix of posts about Health and Disease Statistics, R Programming, Recipes, my trips in nature, and any other topics that I find interesting! 
            <div class="categories">
                <h2>Article Categories</h2> 
                <ul class="tag_box">
                    {% assign categories_list = site.categories %}
                    {% include JB/fp_categories_list %}
                </ul>
            </div>
            <div class="tags">
                <h2>Article Tags</h2>
                <ul class="tag_box">
                    {% assign tags_list = site.tags %}
                    {% include JB/fp_tags_list %}
                </ul>
            </div>
            <div>
                <h2>Recent Posts</h2>
                <ul>
                    {% for post in site.posts limit:5 %}
                    <li>
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a>
                    {{ post.excerpt | strip_html }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
